@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
    --hue-1: 997;
    --main-color-1: hsl(var(--hue-1), 100%, 60%)
}

body {
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 17%, 63%);
    --bg-color: hsl(var(--hue-1), 100%, 97%);
}


body.dark {

}
/*------------------Landing Page Theme---------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {

}

body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    transition: 0.3s background-color;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: auto;
}

.logo {
    margin-right: 1.5rem;
    font-family: "Abril Fatface", cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
}

.logo span {
    color: var(--main-color-1);
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
}

.nav-link::after {
    content: "";
    position: relative;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--heading-color);
}

.nav-link:hover::after {
    width: 100%;
    opacity: 0.2;
}